@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap");

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body {
  background: url("images/window\ wall.jpg") no-repeat center fixed;
  background-size: cover;
}

.quote-box {
  background: #fff;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.quote-box h2 {
  font-size: 32px;
  margin-bottom: 40px;
  position: relative;
}

.quote-box h2::after {
  content: "";
  width: 75px;
  height: 3px;
  border-radius: 3px;
  background: rgb(23, 124, 229);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.quote-box blockquote {
  font-size: 26px;
  min-height: 110px;
}

.quote-box blockquote::before,
.quote-box blockquote::after {
  content: '"';
}

.quote-box span {
  display: block;
  margin-top: 10px;
  float: right;
  position: relative;
}

.quote-box span::before {
  content: "";
  width: 20px;
  height: 2px;
  background: rgb(23, 124, 229);
  position: absolute;
  top: 50%;
  left: -30px;
}

.quote-box div {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.quote-box button {
  background: rgb(23, 124, 229);
  color: #fff;
  border-radius: 30px;
  border: 1px solid rgb(23, 124, 229);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.quote-box button:hover {
  transform: scale(1.06);
  background: transparent;
  color: rgb(23, 124, 229);
}

.quote-box button img {
  width: 20px;
}

.quote-box button:nth-child(2) {
  background: transparent;
  color: #333;
}

@media (max-width: 450px) {
  .quote-box {
    width: 300px;
    margin: auto;
    padding: 20px 10px;
  }

  .quote-box h2 {
    font-size: 20px;
  }

  .quote-box div {
    gap: 8px;
  }
}

/* LOADER......... */

.dots-2 {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  --_g: no-repeat radial-gradient(farthest-side, currentColor 95%, #0000);
  background: var(--_g), var(--_g);
  background-size: 20% 50%;
  animation: d2-0 1s infinite;
}
@keyframes d2-0 {
  0%,
  60% {
    background-position: calc(1 * 100% / 3) 0, calc(2 * 100% / 3) 0;
  }
  100% {
    background-position: calc(0 * 100% / 3) 0, calc(3 * 100% / 3) 0;
  }
}

.dots-2:before,
.dots-2:after {
  content: "";
  height: inherit;
  aspect-ratio: 1;
  border-radius: 50%;
  background: currentColor;
  animation: d2-1 1s infinite;
}
.dots-2:after {
  --s: -1, -1;
}

@keyframes d2-1 {
  0% {
    transform: scale(var(--s, 1)) translate(0, 0);
  }
  33% {
    transform: scale(var(--s, 1)) translate(0, 130%);
  }
  66% {
    transform: scale(var(--s, 1)) translate(calc(400% / 3), 130%);
  }
  100% {
    transform: scale(var(--s, 1)) translate(calc(400% / 3), 0);
  }
}
